// Color for app
$color-white : #ffffff;
$color-black : #000000;
$color-primary : #ff9600;
$color-secondary : #ff7428;

//// Color for font
//$color-font-darkest : $color-black;
//$color-font-dark : $color-grey-900;
//$color-font-light : $color-grey-700;
//$color-font-lightest : $color-grey-000;

$color-info : #69c8ff;
$color-success : #94ea50;
$color-warning : #ffda00;
$color-danger : #ff0003;

$color-font-info : #69c8ff;
$color-font-success : #94ea50;
$color-font-warning : #ffda00;
$color-font-danger : #ff0003;

