$screen-small : 680px;
$screen-medium : 1024px;
$screen-large : 1280px;
$screen-x-large : 1920px;

$border-radius-small : 2px;
$border-radius-medium : 4px;
$border-radius-large : 6px;

$box-shadow-small : 0 1px 5px 0 rgba(34, 32, 32, 0.2);
$box-shadow-medium : 0 2px 10px 0 rgba(34, 32, 32, 0.2);
$box-shadow-large : 0 4px 20px 0 rgba(34, 32, 32, 0.2);

// $font-primary :

